@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  margin: 0;
  font-family: 'Montserrat';
  background: #f6f0eb;
}

.blue {
  color: rgb(117, 167, 242);
}

.white {
  color: #fff;
}

.container {
  max-width: 476px;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

.header {
  &__content {
    position: relative;
  }

  &__item {
    border-radius: 15px;
    overflow: hidden;
    max-height: 80vh;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 30%,
      rgba(0, 0, 0, 1) 100%
    );

    img {
      position: relative;
      z-index: -1;
      max-height: 100%;
      object-fit: cover;

      @media screen and (max-width: 476px) {
        min-height: 100%;
      }
    }

    video {
      max-width: 100%;
      position: relative;
      z-index: -1;

      @media screen and (max-width: 476px) {
        min-height: 100%;
      }
    }

    @media screen and (max-width: 476px) {
      max-height: 99vh;
    }
  }

  &__info {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 35px;
    z-index: 2;
    box-sizing: border-box;
    text-align: center;

    h1 {
      color: rgb(117, 167, 242);
      font-size: 40px;
      margin: 0;
    }

    p {
      color: #fff;
      font-size: 30px;
      margin: 0;
    }
  }
}

.welcome {
  text-align: center;

  h2 {
    font-size: 40px;
  }

  p {
    font-size: 28px;
  }
}

.address {
  background: black;
  text-align: center;
  color: white;
  padding: 30px 0;

  img {
    border-radius: 15px;
    max-width: 100%;
  }

  h2 {
    font-size: 40px;
  }

  h3 {
    font-size: 40px;
  }

  p {
    font-size: 30px;

    .address-span {
      color: darkcyan;
    }
  }

  a {
    color: yellow;
    font-size: 20px;
  }
}

.form {
  padding: 30px 0;

  .telegramForm {
    width: 320px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .text1,
  .text2,
  .text3 {
    padding: 5px;
    border-radius: 15px;
    border: none;
  }

  .checkboxes {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    label {
      display: flex;
      align-items: center;
    }
  }

  button {
    background: #000;
    border-radius: 15px;
    color: white;
    font-size: 20px;
    padding: 5px 0;
    cursor: pointer;
    border: none;
  }
}
