@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    font-family: "Montserrat";
}

.container {
    max-width: 476px;
    margin: 0 auto;
}

img {
    max-width: 100%;
}

.header {
    &__content {
        position: relative;

        img {
            position: relative;
            z-index: -1;
            max-height: 100%;
        }
    }

    &__item {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0.9) 100%);
        border-radius: 15px;
        overflow: hidden;
        max-height: 80vh;
    }

    &__info {
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 35px;
        z-index: 2;
        box-sizing: border-box;
        text-align: center;

        h1 {
            color: rgb(117, 167, 242);
            font-size: 40px;
            margin: 0;
        }

        p {
            color: #fff;
            font-size: 30px;
            margin: 0;
        }
    }
}
